airflow_output/
*.csv
*.parquet
*.json


logs/
airflow-webserver.pid
airflow.db
airflow-webserver.err
airflow-webserver.out
airflow-scheduler.pid
airflow-scheduler.err
airflow-scheduler.out


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
venv_wsl/
.venv_wsl/
Pipfile.lock

.env
.env.*
!.env.example


.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
data/

